{% extends 'base.html.twig' %}

{% block content %}
    <h2 class="text-center">TooTallGaming</h2>
    <h6 class="text-center">The Tallest, Truest, and Grooviest gaming community you'll ever join</h6>

    <hr>

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
                <li class="list-inline-item">
                    <a href="https://twitter.com/tootallgaming">
                        <span class="fa-stack fa-lg text-primary">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="http://www.facebook.com/groups/tootallgaming">
                        <span class="fa-stack fa-lg text-primary">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://discord.gg/vNFmJgC">
                        <span class="fa-stack fa-lg text-primary">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-discord fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <p class="text-center">This is only a placeholder, better things to come!</p>
    <p class="text-center text-black-50">-jkmalan <del>11/01/19</del>, <del>2/18/20</del>, 4/24/20</p>
    <p class="text-center text-black-50">Oops, taking longer than expected...</p>
{% endblock content %}